* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

a {
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input,
textarea {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

textarea {
    min-height: 3em;
    max-height: 320px;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.logout {
    color: #b7625c;
}

.card-header {
    justify-content: space-between;
    align-items: flex-end;
}

header {
    position: fixed;
    top: 0;

    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background:rgb(238, 99, 131);
    animation: rotateRGB 1s linear infinite;
}

.wrapper {
    display: flex;
    max-width: 1300px;
    padding: 1em;

    width: 100%;

    justify-content: space-between;
    align-items: center;
}

.card-wrapper {
    flex-direction: column;
    gap: 1em;

    position: fixed;
    top: 66px;

    height: fit-content;
    overflow-y: auto;
}

.Text {
    color: white;
    transition: color .2s;
}

a.Text:hover {
    color: #d5d5d5;
}

.Text::selection {
    background: #ffffff;
    -webkit-background-clip: text;
    font-size: 2em;
    border-radius: 4px;
    
    color: #ee6383;
    animation: none;
}

form {
    display: flex;
    gap: 1em;
    overflow: hidden;
}

@keyframes rotateRGB {
    0% {
        filter: hue-rotate(0);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

nav {
    display: flex;
    gap: 1em;
}

.user_date {
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 150px;
    aspect-ratio: 1;   
    overflow: hidden;    

    object-fit: cover;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
}
